{% extends "layout.njk" %}

{% block content %}
    <section class="product-single container">
        <div class="gallery">
            <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO" alt="Produto">
        </div>
        <div class="info">
            <h1>Computador X2</h1>

            <div class="published">
                Publicado em 20/10/2020 às 21h
            </div>

            <div class="descriptions">
                Descriação simples do produto
            </div>

            <div class="price-buy">
                <div class="price">
                    R$ 2000,00

                    <span class="old">R$ 2500,00</span>

                </div>

                <div class="buy">
                    <button class="button">Comprar</button>
                </div>

            </div>
        </div>

    </section>
{% endblock content %}